node_modules
Dockerfile*
docker-compose*
.dockerignore
.gitignore
.git/
.github/
.vscode/
docker/
.dockerignore
README.md
README.md
LICENSE
.vscode
Makefile
helm-charts
.env.*
.env
.editorconfig
.idea
coverage*
logo.png